<f:layout name="Default"/>

<f:section name="main">
    
    <f:if condition="{optionRecords}">
        <f:then>
            <f:form
                    action="ajaxCall"
                    object="{optionRecord}"
                    name="optionRecord"
                    id="ajaxselectlist-form">
                    
                <f:form.select
                        options="{optionRecords}"
                        optionLabelField="title"
                        class="ajaxFormOption"
                        name="optionRecord"/>
                
                <f:form.hidden name="action" value="ajaxCall"/>
                <input type="hidden" name="type" value="{settings.typeNum}">
                <input type="hidden" name="L" value="{sysLanguageUid}">
            </f:form>
        </f:then>
        <f:else>
            <f:translate key="tx_ajaxselectlist_domain_model_optionrecord.noEntriesFound"/>
        </f:else>
    </f:if>
    
    
    <f:comment>The record entry is loaded inside this element.</f:comment>
    <div id="ajaxCallResult"></div>
    
    
    <script>
        jQuery(document).ready(function ($) {
            var form = $('#ajaxselectlist-form');
            var selectForm = $('.ajaxFormOption');
            var resultContainer = $('#ajaxCallResult');
            var service = {
                ajaxCall: function (data) {
                    $.ajax({
                        url: '/',
                        cache: false,
                        data: data.serialize(),
                        success: function (result) {
                            resultContainer.html(result).fadeIn('fast');
                            // IMPORTANT! When using a lightbox for images, you'll need to call it again after Ajax is done adding the new DOM to the document:
                            // $('.lightbox').magnificPopup({
                            // 	type: 'image'
                            // });
                        },
                        error: function (jqXHR, textStatus, errorThrow) {
                            resultContainer.html('Ajax request - ' + textStatus + ': ' + errorThrow).fadeIn('fast');
                        }
                    });
                }
            };
            form.submit(function (ev) {
                ev.preventDefault();
                service.ajaxCall($(this));
            });
            selectForm.on('change', function () {
                resultContainer.fadeOut('fast');
                form.submit();
            });
            selectForm.trigger('change');
        });
    </script>

</f:section>