# coding: utf-8

# #####
#
# Settings.cfg - A TYPO3 Documentation Project's Configuration File
#
# About Syntax:
#   See https://docs.python.org/2/library/configparser.html
#
# Put comments in separate lines!
#
# #####


# Attention:
#    LEAVE RIGHT SIDE EMPTY for a 'false' value like:
#       example_of_false_value =


[general]

; endless list of all of the general simple settings
; you can use in 'conf.py'

project     = Select list with Ajax call
version     = 3.0
release     = 3.0.1
t3author    = Sebastian Klein
copyright   = since 2016 by Sebastian Klein

description = Provides a drop-down list which uses Ajax to load records into the page without reloading the whole website.
   Now supports multiple multimedia files instead of one single image.


# For a reference about this file see:
# https://github.com/marble/typo3-docs-typo3-org-resources/blob/master/userroot/scripts/bin/conf-2015-10.Reference.Settings.cfg


[html_theme_options]

; for theme t3SphinxThemeRtd

github_branch        = master
github_repository    = sebkln/ajaxselectlist


[intersphinx_mapping]

; in this manual we actually use:

t3api         = https://typo3.org/api/typo3cms/
# t3cgl         = https://docs.typo3.org/typo3cms/CodingGuidelinesReference/
t3coreapi     = https://docs.typo3.org/typo3cms/CoreApiReference/
# t3editors     = https://docs.typo3.org/typo3cms/EditorsTutorial/
# t3extbasebook = https://docs.typo3.org/typo3cms/ExtbaseFluidBook/
# t3fal         = https://docs.typo3.org/typo3cms/FileAbstractionLayerReference/
# t3inside      = https://docs.typo3.org/typo3cms/InsideTypo3Reference/
# t3install     = https://docs.typo3.org/typo3cms/InstallationGuide/
# t3l10n        = https://docs.typo3.org/typo3cms/FrontendLocalizationGuide/
# t3security    = https://docs.typo3.org/typo3cms/SecurityGuide/
# t3services    = https://docs.typo3.org/typo3cms/Typo3ServicesReference/
# t3skinning    = https://docs.typo3.org/typo3cms/SkinningReference/
# t3start       = https://docs.typo3.org/typo3cms/GettingStartedTutorial/
t3tca         = https://docs.typo3.org/typo3cms/TCAReference/
t3templating  = https://docs.typo3.org/typo3cms/TemplatingTutorial/
# t3ts45        = https://docs.typo3.org/typo3cms/TyposcriptIn45MinutesTutorial/
t3tsconfig    = https://docs.typo3.org/typo3cms/TSconfigReference/
t3tsref       = https://docs.typo3.org/typo3cms/TyposcriptReference/
t3tssyntax    = https://docs.typo3.org/typo3cms/TyposcriptSyntaxReference/